<script>
	$(function() {
		$( "#datepicker" ).datepicker();
		$( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	});
</script>
<h1>学生数据,查询汇总</h1>
<%= form_tag(results_all_by_day_path, :method => "post") do %>
  <p>日期: <input type="text" id="datepicker" name="result_date"></p>
  <%= submit_tag("Search") %>
<% end %>