<%= form_for(@course_content) do |f| %>
  <% if @course_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_content.errors.count, "error") %> prohibited this course_content from being saved:</h2>

      <ul>
      <% @course_content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
