<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
			$('#plan_calendar').fullCalendar({
				//editable: true,
				theme: true,
				timeFormat: 'H(:mm){ - H(:mm)}',
				axisFormat: 'H:mm TT',
				allDayText: "全天",
				buttonText:{
				     prev:     '向前',
				     next:     '向后',
				     prevYear: '去年',
				     nextYear: '明年',
				     today:    '今天',
				     month:    '月',
				     week:     '周',
				     day:      '日'
				},
				monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月',
				 '八月', '九月', '十月', '十一月', '十二月'],
				monthNamesShort: ['一月', '二月', '三月', '四月', '五月', '六月', '七月',
				 '八月', '九月', '十月', '十一月', '十二月'],
				dayNames: ['周日', '周一', '周二', '周三',
				 '周四', '周五', '周六'],
				dayNamesShort: ['周日', '周一', '周二', '周三',
				 '周四', '周五', '周六'],
				events: "<%= get_plan_json_student_dairy_plans_url(@student)%>",
				loading: function(bool) {
					if (bool) $('#loading').show();
					else $('#loading').hide();
				}
			});
		});
</script>

<h1>所有<%= @student.name%>的学习计划</h1>

<h6>
	快速链接: 
	<%= link_to '新建学习计划', new_student_dairy_plan_path(@student) %>
</h6>


<hr>
<div id='loading' style='display:none'>loading...</div>
<div id="plan_calendar">
