<script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    $( "#datepicker1" ).datepicker();
    $( "#datepicker1" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    $( "#datepicker" ).val("<%= @time%>");
    $( "#datepicker1" ).val("<%= @time1%>");
    $("form").submit(function(e){
      if($( "#datepicker" ).val() == ""){
          alert("开始时间!");
          $( "#datepicker" ).focus();
          return false;
      }
      if($( "#datepicker1" ).val() == ""){
          alert("结束时间!");
          $( "#datepicker1" ).focus();
          return false;
       }
      if($( "#datepicker" ).val() > $( "#datepicker1" ).val()){
          alert("结束时间不能比开始时间早，请重新选择!");
          $( "#datepicker1" ).focus();
          return false;
       }
    });

  });
</script>

<h4>根据条件查询</h4>
<%= form_tag(search_result_clicks_path, :method => :get) do %>
  <p>
    开始日期: <input type="text" id="datepicker" name="start_date"> 
    结束日期: <input type="text" id="datepicker1" name="end_date"> 
  </p>
    <%= submit_tag("查询") %>
  </p>
<% end %>