<h1>页面统计总表</h1>
<%= link_to '返回', clicks_path %>
<table>
  <tr>
  	<th>页面</th>
    <th>总点击量</th>
  </tr>

<% @all.each do |p| %>
  <tr>    
  	<td><%= link_to WebPage.find(p.page).content, "/web_pages/detail?id=#{p.page}"  %></td>
    <td><%= p.sum_page %></td>
  </tr>
<% end %>
</table>