<h1>分类统计总表</h1>
<%= link_to '返回', clicks_url%>
<table>
  <tr>
    <th>名称</th>
    <th>点击量</th>
  </tr>

<% @all.each do |t| %>
  <tr>    
  	<td>
  		<% if t.category %>
  		<%= link_to TagCategory.find(t.category).name, "/tag_categories/detail?id=#{t.category}" %>
   		<% else %>
  		no data
  		<% end %>
  	</td>
    <td><%= t.sum_category %></td>
  </tr>
<% end %>
</table>