<h1>活动统计总表</h1>
<%= link_to '返回', clicks_path %>
<table>
  <tr>
    <th>名称</th>
    <th>点击量</th>
  </tr>

<% @all.each do |campaign| %>
  <tr>
    <td><%= Campaign.find(campaign.campaign).name %></td>
    <td><%= campaign.sum_campaign %></td>
  </tr>
<% end %>
</table>