<p>
  <b>类别名称:</b>
  <%= @tag_category.name %>
</p>

<p>
  <b>上级名称:</b>
  <%= @tag_category.uid %>
</p>

<p>
  <b>描述:</b>
  <%= @tag_category.description %>
</p>


<%= link_to '返回', tag_categories_path %>
